[submodule "MetaPlugins/WeakNetPlugin"]
	path = MetaPlugins/WeakNetPlugin
	url = git@github.com:ALightGroup/WeakNetPlugin.git
[submodule "MetaPlugins/MagicPicturePlugin"]
	path = MetaPlugins/MagicPicturePlugin
	url = https://github.com/ALightGroup/MagicPicturePlugin.git
[submodule "MetaPlugins/MetaWallpaper"]
	path = MetaPlugins/MetaWallpaper
	url = https://github.com/ALightGroup/MetaWallpaper.git
